@import url(./navigationMobile.css);
@import url(./navigationDesktop.css);


body {
    background-color: #1c1c1a;
    color: white;
    font-family: 'Lucida Console', monospace;
}


#levelRotationItemContainer {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}


.levelRotationItem {
    background-size: contain;
    background-repeat: no-repeat;
    border: 0.1rem white solid;
    margin: 0.5rem;
    min-width: 20%;
    padding: 0.5rem;
}


.levelRotationName {
    font-weight: bold;
}


.invisible {
    display: none;
}