@import url(./boardSprites.css);


body {
    background-color: #1c1c1a;
    font-family: 'Lucida Console', monospace;
}


.mainContainer {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 10fr 3fr;;
    margin: 2em;
}


.selectorContainer {
    background-color: #1c1c1a;
    border: 2px solid white;
    column-gap: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0.5em;
    padding-right:0.5em;
    padding-bottom: 1em;
}


.editorContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32px);
    margin: auto;
}


.controlContainer {
    background-color: #1c1c1a;
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    row-gap: 1.5em;
}


.selectionBar {
    display: flex;
    flex-direction: column;
}


.controlGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.controlGroup label {
    margin-left: 0.5em;
}


input[type=radio] {
    display: none;
}


.inputMapDimension {
    margin: auto;
    width: 3em;
}


.inputPosition {
    padding: 0.4em;
    text-align: center;
    width: 4em; 
}


.selector {
    border: 5px solid;
    display: inline-block;
    height: 30px;
    margin-top: 1em;
    width: 30px;
    background-color: black;
    background-size: contain;
}


.editorTile {
    border: 1px solid white;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    background-size: contain;
}


.undefinedTile {
    background-color: rgb(99, 93, 93);
}


.wallTile {
    background-image: url('../sprites/background/wall.svg');
}


.emptyTile {
    background-image: url('../sprites/background/emptySpace.svg');
}


.pointTile {
    background-image: url('../sprites/background/consumables/point.svg');
}


.powerupTile {
    background-image: url('../sprites/background/consumables/powerUp.svg');
}


.ghostDoorHorizontalTile {
    background-image: url('../sprites/background/door/ghost_door_horizontal.svg');
}


.ghostDoorVerticalTile {
    background-image: url('../sprites/background/door/ghost_door_vertical.svg');
}


.ghostDoorCrossingTile {
    background-image: url('../sprites/background/door/ghost_door_diagonal.svg');
}


.teleporter1Tile {
    background-image: url('../sprites/background/teleporters/teleporter1.svg');
}


.teleporter2Tile {
    background-image: url('../sprites/background/teleporters/teleporter2.svg');
}


.teleporter3Tile {
    background-image: url('../sprites/background/teleporters/teleporter3.svg');
}


.bonusSpawnTile {
    background-image: url('../sprites/background/consumables/bonus_elements/cherry.png');
}


.pacmanTile {
    background-image: url('../sprites/actors/pacman/pacman_right.svg');
}


.ghostBlinkyTile {
    background-image: url('../sprites/actors/ghost_blinky/movement/blinky_down.svg');
}


.ghostPinkyTile {
    background-image: url('../sprites/actors/ghost_pinky/movement/pinky_down.svg');
}


.ghostInkyTile {
    background-image: url('../sprites/actors/ghost_inky/movement/inky_down.svg');
}


.ghostClydeTile {
    background-image: url('../sprites/actors/ghost_clyde/movement/clyde_down.svg');
}