body {
    font-family: 'Lucida Console', monospace;
    background-color: black;
}


.inline_block {
    display: inline-block;
}


.main_container {
    display: grid;
    grid-template-columns: 1.5fr 10fr 3fr;
    column-gap: 1rem;
    margin: 2em;
}


.selector_container {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0.5em;
    padding-right:0.5em;
    padding-bottom: 1em;
    column-gap: 0.5em;
}


.editor_container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 32px);
}


.control_container {
    background-color: green;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    row-gap: 1.5em;
}


.selection_bar {
    display: flex;
    flex-direction: column;
    background-color:white;
}


.control_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.control_group label {
    margin-left: 0.5em;
}


input[type=radio] {
    display: none;
}


.input_map_dimension {
    width: 3em;
    margin: auto;
}


.input_position {
    width: 4em;
    text-align: center;
    padding: 0.4em;
}


.selector {
    width: 30px;
    height: 30px;
    margin-top: 1em;
    border: 5px solid;
    display: inline-block;
}


.selector_wall_tile {
    border-color: blue;
    background-color: blue;
}


.editor_tile {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid white;
}


.undefined_tile {
    background-color: rgb(99, 93, 93);
}


.wall_tile {
    background-color: blue;
}


.empty_tile {
    background-color: black;
}


.bonus_spawn_tile {
    background-image: url('../sprites/bonus_elements/cherry.png');
}


.point_tile {
    background-image: url('../sprites/consumables/point.png');
}


.powerup_tile {
    background-image: url('../sprites/consumables/powerup.png');
}


.teleporter_1_tile {
    background-image: url('../sprites/teleporters/teleporter_1.png');
}


.teleporter_2_tile {
    background-image: url('../sprites/teleporters/teleporter_2.png');
}


.teleporter_3_tile {
    background-image: url('../sprites/teleporters/teleporter_3.png');
}


.ghost_door_vertical_tile {
    background-image: url('../sprites/door/ghost_door_vertical.png');
}


.ghost_door_horizontal_tile {
    background-image: url('../sprites/door/ghost_door_horizontal.png');
}


.ghost_door_crossing_tile {
    background-image: url('../sprites/door/ghost_door_crossing.png');
}


.bonus_spawn_tile {
    background-image: url('../sprites/bonus_elements/cherry.png');
}


.pacman_tile {
    background-image: url('../sprites/pacman/pacman_right.png');
}


.ghost_blinky_tile {
    background-image: url('../sprites/ghost_blinky/movement/blinky_down.png');
}


.ghost_pinky_tile {
    background-image: url('../sprites/ghost_pinky/movement/pinky_down.png');
}


.ghost_inky_tile {
    background-image: url('../sprites/ghost_inky/movement/inky_down.png');
}


.ghost_clyde_tile {
    background-image: url('../sprites/ghost_clyde/movement/clyde_down.png');
}