@import url(./navigationMobile.css);
@import url(./navigationDesktop.css);


*, *::before, *::after {
   box-sizing: border-box;
}


body {
   background-color: #1c1c1a;
   color: white;
   font-family: 'Lucida Console', monospace;
}


main {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin: auto;
}


.invisible {
   display: none;
}