body {
   position: absolute;
   left: 30%;
   margin: 0 auto;
   font-family: 'Lucida Console', monospace;
   background-color: lightgray;
}

.wall {
   width: 30px;
   height: 30px;
   float: left;
   background-color: blue;
}

.empty {
   width: 30px;
   height: 30px;
   float: left;
   background-color: black;
}

.point {
   width: 8px;
   height: 8px;
   border-radius: 4px;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: orange;
}

.pacman_up {
   width: 30px;
   height: 30px;
   background-image: url('resource/pacman/pacman_up.png');
}

.pacman_right {
   width: 30px;
   height: 30px;
   background-image: url('resource/pacman/pacman_right.png');
}

.pacman_down {
   width: 30px;
   height: 30px;
   background-image: url('resource/pacman/pacman_down.png');
}

.pacman_left {
   width: 30px;
   height: 30px;
   background-image: url('resource/pacman/pacman_left.png');
}

.ghost {
   width: 30px;
   height: 30px;
   background-image: url('resource/ghost_blinky/blinky_down.png');
}

#level_elements_list {
   list-style-type: none;
}